.light-group{
    background-color:rgb(190,68,117) !important;
}

.item.-th-alarm.-armed_away{
    background-color:rgba(200, 0, 0, 1);
    border:1px solid hsla(0,0%,0%,1)
}

.item.-th-alarm.-armed_home{
    background-color:rgba(200, 0, 0, 1);
    border:1px solid hsla(0,0%,0%,1)
}

.item.-th-alarm.-disarmed{
    background-color:rgba(0, 200, 0, 1);
    border:1px solid hsla(0,0%,0%,1)
}

.item.-th-alarm.-arming,.item.-th-alarm.-pending{
    animation: alarm_blinking 1s infinite ease-in-out;
    border:1px solid hsla(0,0%,0%,1);
}

.item.-th-alarm.-triggered {
    animation: alarm_blinking_triggered@ 1s infinite ease-in-out;
    border:1px solid hsla(0,0%,0%,1);
}

@-webkit-keyframes alarm_blinking_triggered {
    0% {
        background-color:rgba(200, 0, 0, 0);
    }
    50% {
        background-color:rgba(200, 0, 0, 1);
    }
    100% {
        background-color:rgba(200, 0, 0, 0);
    }
}

@-webkit-keyframes alarm_blinking {
    0% {
        background-color:rgba(200, 200, 0, 0);
    }
    50% {
        background-color:rgba(200, 200, 0, 1);
    }
    100% {
        background-color:rgba(200, 200, 0, 0);
    }
}
